<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="project" connectionString= "Data Source=TUANANH-PC\TUANANH;Initial Catalog=ETCManager;Persist Security Info=True;User ID=sa;Password=trinhanh" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>